* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  width: 960px;
  margin: 50px auto;
}

.list-item {
  padding: 20px;
  list-style: none;
}

ul li:nth-child(odd) {
  background-color: #eee;
}

.box {
  width: 960px;
  display: flex;
  flex-wrap:wrap;
  margin: 0 auto;
  padding-bottom: 50px;
}

.box-item {
  background-color: yellow;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box-item:nth-child(1),
.box-item:nth-child(5),
.box-item:nth-child(9) {
  background-color: orange;
}

.box-item:nth-child(3n) {
  margin-right: 0;
}

.box-item:nth-child(7),
.box-item:nth-child(8),
.box-item:nth-child(9) {
  margin-bottom: 0;
}